@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap');
.font {font-family: 'Nanum Pen Script';}


body{
  margin:0;
}

#topMenu {
        height: 35px;
        width: 960px;
        margin: 0 auto;
}

#topMenu ul li {
        list-style: none;
        color: white;
        background-color: #2d2d2d;
        float: left;
        line-height: 33px;
        vertical-align: middle;
        text-align: center;
        margin: auto;
}

#topMenu .menuLink {
        text-decoration:none;
        color: white;
        display: block;
        width: 160px;
        font-size: 13px;
        font-weight: bold;
        font-family: "Trebuchet MS";
        margin: auto;
}

#topMenu .menuLink:hover {
        color: red;
        background-color: #4d4d4d;
}

.container {
        background-color:#F0F0F0;
        width: 99%;
        margin: 1px auto;
        padding: 15px;
}

h1 {
  font-size: 40px
}
